body {
  background-color: rgb(48, 69, 116);
}
.flex {
  display: flex;
  gap: 30px;
}
.menu-li {
  list-style: none;
}
.nav {
  text-decoration: none;
  color: aliceblue;
}
.fondo-header{
  background-color: rgb(25, 25, 126);
}
.between {
  justify-content: space-between; /*distribuye los elementos*/
}
.items-center {
  align-items: center; /*alinear elementos al cento*/
}
.main-color {
  background-color: rgb(24, 31, 128);
}
.footer-color {
  background-color: darkblue;
}
.main {
  max-width: 600px;
  margin: 40px auto;
}
.color-subtitulo {
  color: orange;
}
.color-texto {
  color: white;
}
.flex2 {
  align-items: center;
  justify-content: center;
  display: flex;
}
.tamaño-menu-cartel {
  display: center;
  align-items: center;
  justify-content: center;
}
.tamaño-img{
    width: 500px;
    height: 300px;
}
